<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Enter Your Number:</p>
  <input type="number" style="margin:20px" [(ngModel)]="number">
  <ion-button (click)="click()" style="margin:20px">Send</ion-button>
  <p>Enter Your OTP:</p>
  <input type="number" style="margin:20px" [(ngModel)]="getotp">

  <ion-button (click)="Verify()" style="margin:20px">Verify</ion-button>
</ion-content>